<div class="container">
  <p><%= @card.question %></p>
  <%= form_tag card_check_path(@round, @card)  do %>
    Answer: <%= text_field_tag :user_answer %><br>
    <%= submit_tag "Submit" %>
  <% end %>
</div>
